<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>第一个VUE程序</title>
</head>

<body>
  <div id="app"   style="background-color:aquamarine">
      <ul>
        <li v-for="(item,index) in players">
          数组下标:{{index}} --- id：{{item.id}} --- 姓名：{{item.name}} --- 年龄：{{item.age}}
        </li>
      </ul>

      <ul>
        <li v-for="(val, key, i) in bestplayer">
          {{val}} --- {{key}} --- {{i}}
        </li>
      </ul>


      <h3 v-for="i in 10">这是第 {{i}} 个h3标签</h3>
  </div>
  <!--从CDN引入vue.js-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    const app = new Vue({ //初始化一个VUE实例
      el: '#app',     // 用于页面渲染VUE实例的元素
      data: { // 定义数据
        message: 'VUE',
        players: [
          {id:1,name:"curry",age:31},
          {id:2,name:"james",age:34},
          {id:3,name:"kobe",age:38}
        ],
        bestplayer:{name:"乔丹",age:48}
      }
    })
  </script>
</body>

</html>